.main-container {
    height: 100vh;
    width: 100%;
    font-size: 60px;
    font-weight: 600;


    a {
        color: #d6d6d6;
    }

    .top-row {
        height: 50%;
        display: flex;
        text-align: center;
        align-items: center;

        .leagues {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #242424;

            &:hover {
                background: darken(#242424, 10%);
                color: #2a9d8f;
            }
        }


        .teams {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #373737;

            &:hover {
                background: darken(#373737, 10%);
                color: #ef476f;
            }
        }

        .players {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #494949;


            &:hover {
                background: darken(#494949, 10%);
                color: #90be6d;
            }
        }
    }

    .bottom-row {
        height: 50%;
        display: flex;
        text-align: center;
        align-items: center;
        color: #f2f2f2;

        .bottom-left-sec {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;

            .fantasy {

                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #373737;

                &:hover {
                    background-color: darken(#373737, 10%);
                    color: #e9c46a;
                }
            }

            .formation {
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #494949;

                &:hover {
                    background-color: darken(#494949, 10%);
                    color: #e76f51;
                }
            }
        }

        .favourites {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #242424;

            &:hover {
                background: darken(#242424, 10%);
                color: lighten(#6a4c93, 10%);
            }
        }
    }
}