@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");



.navigation-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.row {
    margin: 15px 15px 15px 15px;
}

.bi {
    font-size: 30px;
    color: #7a7a7a;
}